main{
    display: flex;
}

.dashboard-container{
    height: 100vh;
    width: 20%;
    outline: blue 1px solid;
}

.dashboard-head-container{
    display:flex;
}
.header-top{
    display: flex;
}
.search-form{
    width: 60%;
}
.search-bar{
    width: 60%;
    max-height: 2em;
}
.search-button{
    width: auto;
    max-height: 2em;
}
.page-container{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    outline: blue 1px solid;
}

.header-container{
    height:20%;
    width: 100;
    outline: blue 1px solid;
}
.content-container{
    height: 80%;
    width: 100%;
    outline: blue 1px solid;
}